{% extends 'gshares/base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<head>
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<h1><strong>About></strong></h1>
	
<div class="box-set">

	<div class="leftover-main_about">
		<h3 style="padding-left: 2%;"><img src="{% static 'img/ganjasharestwitterlogo3.png' %}" style="width: 20px; height: 20px;"> GanjaShares></h3>
	</div>
	
	<div class="leftover-main_about2">
		<img src="{% static 'img/marisign.png' %}" style="width: 217px; height: 221px; border-radius: 5%;">
	</div>
	
	<!--<div class="leftover-main_about3">
		
	</div> -->
	
	<div class="container-gen">
	<p>Founded and based in the Mile High City of Denver, Colorado, GanjaShares is at the epicenter
	of the emerging and high growth marijuana industry.  GanjaShares was founded to be a source of information, 
	news and analytics on publicly-listed companies active in the marijuana industry - please note GanjaShares 
	is not an investment advisor nor do we provide any investment advice, read our <a href="/gshares/disclaimer/">Disclaimer</a> 
	for more information. <br><br>The GanjaShares site (currently) features the following:</p>
	<ul style="text-align: justify;">
		<li><strong>Stocks:</strong> GanjaShares maintains a database of quick access profiles, charts, comments and links to all publicly-listed companies active in the 
		marijuana industry. If you don't see a company, <a href="/gshares/contact/">tell us</a> and we will do our best to include it as fast as possible. We are 
		constantly looking for ways to improve our company profiles in terms of information, format, etc. - please <a href="/gshares/contact/">contact us</a> 
		if you have any cool ideas or requests.</li>
		<br>
		<li><strong>Forums:</strong> GanjaShares is actively building a community for those interested in discussing this high growth sector.  We intend 
		to keep our Forums free and open to the public - <a href="/gshares/forums/">register</a> and start interacting today.</li>
		<br>
		<li><strong>News & Articles:</strong> Our site includes links to popular articles from the various marijuana industry publications we 
		follow - we add new links to resources frequently so check back often. GanjaShares also (of course) maintains a stock-specific news database 
		which is constantly updated. Once (if) our lawyers ok it, we intend to publish reader submitted articles - stay tuned.</li>
		<br>
		<li><strong>Tools:</strong> The site has several tools for readers including the GanjaShares twitter feed and a (stock) charting app. Yes, we know 
		Forums is also a "tool" but we thought it would get more attention on the primary navbar.</li>
	</ul>

	<p>Feel free to <a href="/gshares/contact/">contact us</a> with questions/suggestions about the site or any other issue(s).  For advertising inquires please
	contact our <a href="/gshares/advertise/">sales team</a>.</p>
	</div>
</div>
	
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
{% endblock content %}