{% extends 'gshares/base.html' %}

{% load static %}

{% block title %}Advertise{% endblock %}

{% block content %}
<head>
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<h1>Advertise></h1>

<div class="box-set">

	<div class="leftover-main_about"> <!-- same for advert -->
		<h3 style="padding-left: 2%;"><img src="{% static 'img/ganjasharestwitterlogo3.png' %}" style="width: 20px; height: 20px;"> GanjaShares></h3>
	</div>
	
	<div class="leftover-main_about2">
		<img src="{% static 'img/ganjaadvert.png' %}" style="width: 217px; height: 280px; border-radius: 5%;">
	</div>
	
	<!--<div class="leftover-main_about3">
		
	</div> -->
	
	<div class="container-gen">
		<p>[Add Text Here]
		</p>
	</div>
</div>
	
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
		<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
		<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
		<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
		
{% endblock content %}