{% extends 'gshares/base.html' %}

{% load static %}

{% block title %}$CGRW{% endblock %}

{% block content %}

<head>
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<h1>{{ ticker }}: {{ name }}></h1>

<div id="wrapper">
	<!--  -->
	<div id="leftcolumn">
		<h3>BUSINESS SUMMARY</h3>
		<p><strong>CannaGrow Holdings, Inc.</strong> provides solutions to the cannabis industry 
		in the State of Colorado. It operates as a lessor, liaison, and consultant to licensed 
		growers in the medical/recreational cannabis industry, as well as provides them with 
		growing facilities. The company was formerly known as BizAuctions, Inc. and changed 
		its name to CannaGrow Holdings, Inc. in November 2014. CannaGrow Holdings, Inc. is 
		based in Las Vegas, Nevada.</p>
		<p>Website: <a href="http://www.cannagrowholdings.com">www.cannagrowholdings.com</a></p>
	</div>
	<!-- <h3 class="chart-header">Price Performance</h3> -->
	<div id="rightcolumn">
	
	<!-- TradingView Widget BEGIN -->
		<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
		<script type="text/javascript">
new TradingView.widget({
  "width": 580,
  "height": 449,
  "symbol": "OTC:{{ ticker }}",
  "interval": "D",
  "timezone": "exchange",
  "theme": "White",
  "style": "1",
  "toolbar_bg": "#f1f3f6",
  "withdateranges": true,
  "allow_symbol_change": false,
  "hideideas": true,
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650"
});
		</script>
<!-- TradingView Widget END -->
	</div>
</div>
<div>
	<h6 style="color: white;">/
	</h6>
</div>
<div class="biz-headline">
	<h3>RECENT HEADLINES</h3>
		<ul>
			{% for item in lists %}
				<li><a href="{{ item.1 }}">{{ item.0 }}</a></li>
				<li><em>{{ item.2 }}</em></li>
			{% endfor %}
		</ul>
</div>
<br><br>

<div class="biz-financial">
	<h3>FINANCIAL DATA</h3>
	<iframe src="http://www.otcmarkets.com/stock/CGRW/financials" width="98%" height="500" border:"red"></iframe>	
</div>

<div class="biz-comments">
	    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gshares'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
		 
{% endblock content %}