{% extends 'gshares/base.html' %}

{% load static %}

{% block title %}Disclaimer{% endblock %}

{% block content %}

<head>
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>

<h1><strong>Disclaimer></strong></h1>

<div class="container-terms">
<p>This website is for information purposes only, as GanjaShares.com and its authors are not registered as a securities broker-dealer or as investment advisers. No information herein is intended as securities brokerage, investment, tax, accounting, medical or legal advice, as an offer or solicitation of an offer to sell or buy, or as an endorsement, recommendation or sponsorship of any company, security or fund.
<br><br>
GanjaShares.com and its authors cannot and do not assess, verify or guarantee the adequacy, accuracy or completeness of any information, including comments on the forum, the suitability or profitability of any particular investment, or the potential value of any investment or informational source. The reader bears responsibility for his or her own investment research and decisions, should seek the advice of a qualified securities professional before making any investment, and investigate and fully understand any and all risks before investing.
<br><br>
GanjaShares.com and its authors in no way warrants the solvency, financial condition, or investment advisability of any of the securities mentioned in his communications or websites. In addition, GanjaShares.com and its authors accepts no liability whatsoever for any direct or consequential loss arising from any use of his information and his positions in any investments may change at any time. This information is not intended to be used as the sole basis of any investment decision, nor should it be construed as advice designed to meet the investment needs of any particular investor.
<br><br>
The contents of GanjaShares.com, such as text, graphics, images, comments on the forum and other material are for informational purposes only. The content is not intended to be a substitute for professional medical, legal or financial advice.
</p>
</div>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>	
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>
	<h2 style="color: white;">.<h2>		
{% endblock content %}