{% extends 'gshares/base.html' %}

{% load static %}

{% block title %}Overview{% endblock %}

{% block content %}

<head>
	<link href="{% static 'css/main2.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans Narrow:400,700"> -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</head>

<!-- scrolling ticker http://www.macroaxis.com/invest/widgets/native/stockTicker&s=aero,%20agtk,%20attbf,%20cbis,%20cgrw,%20edxc,%20enrt,%20erbb,%20fitx,%20grcu,%20grnh,%20hemp,%20imlff,%20mcig,%20mdbx,%20mjmj,%20mjna,%20mjne,%20mntr,%20myec,%20nvlx,%20phot,%20pmcm,%20qedn,%20rssff,%20sprwf,%20srna,%20stev,%20taug,%20thcz,%20trtc,%20turv,%20upot,%20vapo,%20vpor -->
<script src="http://widgets.macroaxis.com/widgets/url.jsp?t=42&s=aero, agtk, attbf, cbis, cgrw, edxc, enrt, erbb, fitx, grcu, grnh, hemp, imlff, mcig, mdbx, mjmj, mjna, mjne, mntr, myec, nvlx, phot, pmcm, qedn, rssff, sprwf, srna, stev, taug, thcz, trtc, turv, upot, vapo, vpor"></script>

<h1>Overview></h1>

<div class="box-set">

	<div class="leftover-overview">
		<a href="/gshares/advertise/"><img src="{% static 'img/ganjaadvert.png' %}" style="width: 219px; height: 280px; border-radius: 5%;"></a>
	</div>

	<div class="leftover-main3" style="margin-top: -5%;">
		<form action="//ganjashares.us9.list-manage.com/subscribe/post?u=e6cef1a59171c455df64b7b7b&amp;id=01020ec11b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
   
			<label for="mce-EMAIL"><strong>Get on Our Mail List></strong></label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;"><input type="text" name="b_e6cef1a59171c455df64b7b7b_01020ec11b" tabindex="-1" value=""></div>
    		<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  		</form>
	</div>

		<div class="tablehead">
			<h2 style="font-family: 'Titillium Web', sans-serif;">Marijuana Stock List></h2>
				<p>Want to include a name not on the list? Please <a href="/gshares/contact/">contact us</a>.</p>
				<!-- Below are the primary publicly listed stocks which are involved, either directly 
			or indirectly, in the marijuana industry. The marijuana industry is growing fast and as 
			such our list may not include all of the listed stocks in the sector. -->
		</div>
		<div class="table">
			<table style="align: center;">
				<thead colspan="6">
				<th style="text-align: center;">Ticker</th>
				<th style="text-align: left;">Company</th>
				<th>Price ($)</th>
				<th>Market Cap. ($ m)</th>
				<th>52 Week Hi ($)</th>
				<th>52 Week Lo ($)</th>
				<th>Link</th>
			</thead>
			<tbody>			
				{% for item in lists %}
				<tr>
					<td style="text-align: center;">{{ item.0 }}</td>
					<td>{{ item.1 }}</td>
					<td style="text-align: center;">{{ item.5 }}</td>
					<td style="text-align: center;">{{ item.2 }}</td>
					<td style="text-align: center;">{{ item.3 }}</td>
					<td style="text-align: center;">{{ item.4 }}</td>
					<td id="tablego"><Strong><a href="/gshares/{{ item.0 }}/">GO</a></strong></td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>

	<div id="rightover">
		<h2 style="font-family: 'Titillium Web', sans-serif;">Latest Stock News for {{ time }}></h2>
		<div class="container-news_overview">
		<ul>
			{% for item in listn %}
					<li><a href="{{ item.1 }}"><strong>{{ item.0 }}</strong></a></li>
					<li>{{ item.3 }}</li>
					<li><em style="font-size: 9px;">{{ item.2 }}</em></li>
					<br>
			{% endfor %}
		</ul>
		</div>
		<h4><a href="/gshares/news/">More Latest Stock News></a></h4>
	</div>	
</div>

{% endblock content %}